.movie-list {
  margin: 0 2rem;
  padding: 1.5rem;
  background: greenyellow;

  display: grid;

  /* Responsive grid:
   auto-fit → automatically creates as many columns as space allows
   minmax(14rem, 1fr) → each card has a minimum width of 14rem and grows evenly
   using 1fr ensures flexible equal distribution of remaining space */

  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));

  /* Responsive grid:
   auto-fit → auto places cards based on available width
   minmax(14rem, 18rem) → cards stay within a consistent size range
   ensures uniform card appearance like Netflix-style layouts */

  //grid-template-columns: repeat(auto-fit, minmax(14rem, 18rem));

  gap: 16px;

  align-items: start;
}
