<div class="container">
  <h2>Movies</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let movie of movies">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.description }}</p>
          <p class="card-text"><small class="text-muted">Release Date: {{ movie.releaseDate }}</small></p>
          <a [routerLink]="['/movies', movie.id]" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
